/* CABEÇALHO */

  .cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .cabecalho__pesquisar__item {
    display: none;
  }
  
  .form__pesquisa {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  /* SECAO SUPERIOR */
  
  .superior__slider {
    display: none;
  }
  
  .superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
  }

  /* SECAO LATERAL */

  .sidebar__container{
    display: fixed;
    margin-top: 74px;
    width: 240px;
    height: 100%;
    bottom: 0%;
  }

  .sidebar__div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15px;
    border-bottom: 1px solid rgba(20, 68, 128, 1)
    ;
    width: calc(100% - 15px);
    padding: 10px 0;
  }

  .sidebar__div p{
    text-transform: uppercase;
    margin: 10px 0 10px 10px;
    text-align: left;
  }

  .sidebar__lista__item{
    padding: 10px 0 10px 10px;
    border-radius: 10px;
  }

  .sidebar__lista__item:hover{
    background-color: #e2e2e2;
  }
  
  .sidebar__lista a{
    display: flex;
    align-items: center;
  }

  .sidebar__lista__item a img{
    margin-right: 10px;
  }

  .sidebar__no-border{
    border-bottom: none;
  }
  
  /* VIDEO */
  
  .videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .videos__item {
    display: block;
    height: 303px;
    width: 280px;
    flex-grow: 1;
  }
  
  
  .descricao-video {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: auto 1fr;
  }
  
  .descricao-video .img-canal {
    grid-area: 1 / 1 / 3 / 2;
  } 
  
  
  @media (min-width: 1156px) {
    /* CABEÇALHO */
  
    .cabecalho__pesquisar__item {
      display: block;
      transform: translate(-60px);
    }
  
    .pesquisar__input {
      width: 530px;
    }
  
    /* SECAO SUPERIOR */
  
    .superior__slider {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  